.nav-wrapper {
  background-color: #5d91a4;
  display: flex;
  justify-content: space-around;
}

body{
  padding: 20px;
}
form{
  margin-top: 20px;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container{
width: 100%;

}

.white1{
 color: white;
font-family: 'Courgette', cursive;
text-align: center;
}

@media only screen and (max-width: 430px) {
h1{
  font-size: 40px;
}
body{
  padding: 10px;
}
.img-container{
  height: 150px;
}
.bgImg{
height: 150px;
}
 .name{
   width: 300px;
   margin: 0;
 }
.quote{
font-size: 13px;
background-color: rgb(95,158,160, 0.7)
}

.centered{
  top: 12%;
}
}